.main-container {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.me-description {
	text-align: center;
	text-transform: uppercase;
}

.me-description h2 {
	margin: 0;
	margin-bottom: 25px;
	letter-spacing: 5px;
}

@media only screen and (min-width: 1000px) {
	.me-description h2 {
		font-size: 3rem;
	}
}

@media (max-width: 1000px) {
	.main-container {
		flex-direction: column;
	}
}
