#nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#website-name {
	cursor: pointer;
	text-decoration: none;
	flex-shrink: 0;
}

#nav-right {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.underline {
	height: 2px;
	margin-top: 7px;
	width: 80%;
	margin: auto;
}

#nav-items {
	flex: 1;
	display: flex;
	justify-content: space-between;
	list-style: none;
	font-weight: 700;
	margin-right: 10px;
}

.nav-link {
	text-decoration: none;
}

.nav-item {
	text-align: center;
	display: inline-block;
	/* width: 120px; */
	padding: 10px;
}

.unselected {
	transition: 0.2s;
}

.unselected:hover {
	cursor: pointer;
}

#theme {
	width: 40px;
	height: 20px;
	border-radius: 15px;
	position: relative;
	cursor: pointer;
}

#circle {
	width: 40%;
	height: 80%;
	position: absolute;
	border-radius: 15px;
}

.hr-top {
	margin-bottom: 30px;
}
