table,
td {
	border-collapse: collapse;
}

td {
	padding: 5px;
}

.name-span {
	width: 150px;
	border: none;
}

#name-span1 {
	width: 150px;
}

#photo-cell {
	width: 100px;
	text-align: center;
}

.first-column {
	width: 160px;
}
